{% extends 'base.html'%}

{% block content %}
<div class="container mt-3 ">
    <button id="create_bairro" class="mt-3 mb-3 btn btn-primary" type="button" name="button">+ Bairro</button>
<section>
    <table id="bairroTable" class="table responsive display">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Ações</th>

            </tr>
        </thead>
        <tbody>
            {% for bairro in bairros %}
            <tr>
                <td>{{ bairro.nome|upper }}</td>
                <td>{{ bairro.cidade|upper }}</td>
                <td>    
              
                  {% if perms.users.edit_user %}
                      <button type="button" class="edit bs-modal btn btn-sm btn-secondary" data-form-url="{% url 'cadastros:edit_bairro' bairro.id %}">
                      <span class="fa fa-pen"></span>
                  </button>
                   {% else %}
                  <button type="button" class="btn btn-sm btn-secondary">
                      <span class="fa fa-lock"></span>
                  </button>
                  {% endif %}
                  {% if perms.users.delete_user %}
                  <button type="button" class="delete bs-modal btn btn-sm btn-danger" data-form-url="{% url 'cadastros:remove_bairro' bairro.id %}">
                      <span class="fa fa-trash"></span>
                  </button>
                  {% else %}
                  <button type="button" class="btn btn-sm btn-secondary">
                      <span class="fa fa-lock"></span>
                  </button>
                  {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
</div>
{% include 'login/logout_modal.html' %}
{% endblock %}

{% block footer_scripts %}

<script>
        $(document).ready( function () {
        $('#bairroTable').DataTable({
          language : {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json',
            }
          });
        });
        document.addEventListener('DOMContentLoaded', (e) => {
        modalForm(document.getElementById('create_bairro'), {
        formURL: "{% url 'cadastros:create_bairro' %}"
      })
    });
    document.addEventListener('DOMContentLoaded', (e) => {
      var deleteButtons = document.getElementsByClassName("delete");
      var editButtons = document.getElementsByClassName("edit");
      var viewButtons = document.getElementsByClassName("view");
      for (var index=0; index < deleteButtons.length; index++) {
        modalForm(deleteButtons[index], {
          formURL: deleteButtons[index]["dataset"]["formUrl"],
          isDeleteForm: true
        });
      };
      for (var index=0; index < editButtons.length; index++) {
        modalForm(editButtons[index], {
          formURL: editButtons[index]["dataset"]["formUrl"],
        });
      };
      for (var index=0; index < viewButtons.length; index++) {
        modalForm(viewButtons[index], {
          formURL: viewButtons[index]["dataset"]["formUrl"],
        });
      }
    });
    
    </script>
</script>

{% endblock footer_scripts %}


