{% extends 'ext.html' %}
{% load static %}
{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Set New Password</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password" class="form-control" required>
                                <label class="form-label" for="password">New Password</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}