

<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Adicionar Campanha</h5>
    <button type="button" class="btn close btn-rounded btn-secondary" data-bs-dismiss="modal" data-dismiss="create-modal" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    
      <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
  
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{field}}
          <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>

</form>