<li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdownMenuLink"
      role="button"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Cadastros
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="{% url 'cadastros:list_cidades' %}">Cidades</a>
        <a class="dropdown-item" href="{% url 'cadastros:list_bairros' %}">Bairros</a>
        <a class="dropdown-item" href="{% url 'cadastros:list_logradouros' %}">Logradouros</a>
        <a class="dropdown-item" href="{% url 'cadastros:list_pessoas' %}">Pessoa Física</a>
      </li>
    </ul>
  </li>