
<li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdownMenuLink"
      role="button"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      CRM
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="#">Ativos</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Visitas</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Oportunidades</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Funil de Vendas</a>
      </li>
    </ul>
  </li> 