<li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdownMenuLink"
      role="button"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Intranet
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="{% url 'users:user_list' %}">Equipe</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Departamentos</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Políticas</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Documentos Normativos</a>
      </li>
    </ul>
  </li>